# Compiled class files
*.class

# Log files
*.log

# Package files
*.jar
*.war
*.ear

# Maven files
target/
*.iml

# Eclipse files
.classpath
.project
.settings/

# IntelliJ IDEA files
.idea/
*.ipr
*.iws
*.iml

# NetBeans files
nbproject/private/
.build/
dist/
nb-configuration.xml

# macOS files
.DS_Store

# Windows files
Thumbs.db
Desktop.ini

# Temporary files
*.tmp
*.bak
*.swp
*~.nib
.localized